<div class="container" style="position: relative; top: 90px;">
    <div class="row">
      <div class="col-sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img  src="../../../assets/usuario.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Agustín</h5>
                  <p class="card-text">Full-Stack Developer</p>
                  <p class="card-text"><small >agustin_federico_navajas_daoa1819@cev.com</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/usuario.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Orlando</h5>
                  <p class="card-text">Full-Stack Developer</p>
                  <p class="card-text"><small >orlando_santos_daoa1819@cev.com</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/usuario.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Aleix</h5>
                  <p class="card-text">Full-Stack Developer</p>
                  <p class="card-text"><small>aleix_segarra_daoa1819@cev.com</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../../../assets/usuario.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Mario</h5>
                  <p class="card-text">Full-Stack Developer</p>
                  <p class="card-text"><small>mario_diaz_vjob1718@cev.com</small></p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
