<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#"><img src="../../../assets/textLogo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto cabecera" style="position: relative; left: 10px;">

        <li class="nav-item">

         <div class="padre">
          <a class="nav-link"  routerLink='/home'> <img style="width: 23px;height: 23px; margin-right: 10px; position:relative;bottom: 5px;" src="../../../assets/casa.svg" alt="">Home</a>
         </div>



        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/enqueconsiste'><img style="width: 20px;height: 20px; margin-right: 10px; position:relative;bottom: 4px;" src="../../../assets/configuraciones.svg" alt="">¿En qué consiste?</a>
        </li>


       <!-- <li class="nav-item ">
          <a class="nav-link" routerLink='/usuarios'>Usuarios (Solo para admin) <span class="sr-only">(current)</span></a>
        </li>-->



        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/quienes'><img style="width: 20px;height: 20px; margin-right: 10px; position:relative;bottom: 4px;" src="../../../assets/grupo.svg" alt="">Quiénes somos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='/contacto'><img style="width: 20px;height: 20px; margin-right: 10px; position:relative;bottom: 4px;" src="../../../assets/contacto.svg" alt="">Contacto</a>
        </li>

        <li *ngIf="authService.isAuthenticated()" class="nav-item" style="padding-right: 30px;" >
          <a class="nav-link" href="#" routerLink='/encuestas' data-toggle="tooltip" data-placement="top" title="Gestiona tus encuestas desde aquí"><img style="width: 23px;height: 23px; margin-right: 10px; position:relative;bottom: 4px;" src="../../../assets/centro-de-llamadas (1).svg" alt="">Mis encuestas</a>
        </li>


      </ul>
      <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Código encuesta" aria-label="Código encuesta">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Ir</button>
      </form> -->
      <ul class="navbar-nav navbar-right" >

        <li *ngIf="!authService.isAuthenticated()"><a routerLink='/login' class="btn btn-outline-danger">Login</a></li>

        <li *ngIf="authService.isAuthenticated()" class="dropdown">
          <!-- Example split danger button -->
          <div class="btn-group">
            <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{authService.usuario.userName}}
            </button>
            <div class="dropdown-menu dropdown-menu-right" style="background-color: rgb(43, 45, 53);">
              <button class="dropdown-item" style="color: rgb(172, 2, 2);" routerLink= '/form' type="button">Editar Perfil</button>
              <button class="dropdown-item" (click)='logout()' style="color: rgb(172, 2, 2);" type="button">Cerrar sesión</button>

            </div>
          </div>
        </li>

       <!-- <li *ngIf="authService.isAuthenticated()" class="dropdown">
          <a class="btn btn-outline-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{authService.usuario.userName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
            <button class="dropdown-item" type="submit">Editar Perfil</button>
             <button (click)='logout()' class="dropdown-item" type="submit">Cerrar Sesión</button>
          </div>
        </li>-->
      </ul>
    </div>
  </nav>
