<div class="container-fluid mt-2" >
  <div class="row">
    <div class="col text-left bg-secondary">
      <p>{{this.encuestaResponder.textoExplicacion}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-1 p-2 bg-dark">
      <!-- <label>{{'Encuesta: '}}</label> -->
      <button  type="button"  title="Anterior" name="anterior" class="btn btn-primary"  *ngIf="false"
        (click)="this.irPreguntaAnterior(this.preguntaResponder)" >
        <strong><<</strong>
      </button>
    </div>
    <div class="col p-2 bg-dark text-center">
      <!-- <a href="#" *ngIf="true" [routerLink]="['/encuestas']" title="Mis encuestas" ></a> -->
        <label class="text-light" style="cursor: pointer;">
          <h4><strong>{{ this.encuestaResponder.tituloEncuesta}}</strong></h4>
        </label>

    </div>
    <div class="col-1 p-2 bg-dark text-right ">
      <button  type="button" name="siguiente" class="btn btn-primary" title="Siguiente" *ngIf="false"
        (click)="this.irPreguntaSiguiente(this.preguntaResponder)" >
        <strong>>></strong>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-2 p-2 bg-dark">
      <div class="container text-right">
        <div  class="sticky-bottom">
          <button  type="button">
            <strong>{{ (this.listaPreguntas.indexOf(this.preguntaResponder)+1) + ' de ' + this.listaPreguntas.length }}</strong>
          </button>
        </div>
      </div>
    </div>

    <div class="col  p-2 bg-dark" style="min-height: 500px;">
      <!-- ************************************************************************* -->
      <div class="container">
        <div class="card bg-light m-2">

          <div class="card-header text-center text-dark">
            <div class="row">
              <div class="col">
                <h4>{{this.preguntaResponder.pregunta}}</h4>
              </div>
            </div>
          </div>

          <div class="card-body text-dark">
            <div class="container">
              <div class="col m-2">
                <form #ft="ngForm" novalidate (ngSubmit)="this.responderPregunta(this.preguntaResponder, ft)"><!-- (ngSubmit)="onSubmit(f)"  {{ f.value | json }}-->

                  <div class="card-text text-left" >

                    <!-- radio -->
                    <div class="form-check" *ngIf="this.tipoPreguntaUsing.htmlTag === 'radio'">

                        <div *ngFor="let opcion of this.listaOpcionesPreguntaResponder; let i = index">
                          <input class="form-check-input" style="cursor: pointer;" type="radio"
                            name="radio" value="0" (click)="this.respuestaRadio(opcion.id)"
                            id="{{'radio'+ opcion.id}}" value="{{opcion.valorMax}}">
                          <label class="form-check-label" for="{{'radio'+ opcion.id}}">
                            {{ opcion.textoOpcion}}
                          </label>
                        </div>


                    </div>


                    <!-- checkbox -->
                    <div class="form-check" *ngIf="this.tipoPreguntaUsing.htmlTag === 'checkbox'">
                      <div class="row" *ngFor="let opcion of this.listaOpcionesPreguntaResponder; let i = index">
                        <div class="col">
                          <input class="form-check-input" style="cursor: pointer;" type="checkbox"
                            name="{{'checkbox'+ opcion.id}}" ngModel
                            id="{{'checkbox'+ opcion.id}}" value="{{opcion.valorMax}}">
                          <label class="form-check-label" for="{{'checkbox'+ opcion.id}}">
                            {{ opcion.textoOpcion}}
                          </label>
                        </div>
                      </div>
                    </div>

                    <!-- range -->
                    <div  *ngFor="let opcion of this.listaOpcionesPreguntaResponder; let i = index">
                      <div class="form-check" *ngIf="this.tipoPreguntaUsing.htmlTag === 'range'">
                        <!-- <form #f="ngForm" novalidate>(ngSubmit)="onSubmit(f)"  {{ f.value | json }}-->
                          <label for="{{'range'+ opcion.id}}">{{ opcion.textoOpcion}}</label>
                          <div class="row">
                            <div class="col">
                              <input type="range" class="custom-range"
                                      name="{{'range'+ opcion.id}}" ngModel
                                      min="{{opcion.valorMin}}" max="{{opcion.valorMax}}"
                                      step="{{opcion.step}}" id="{{'range'+ opcion.id}}" ngModel="{{opcion.valorMin}}">
                            </div>
                            <div class="col-2 text-right">
                              <label>{{ this.getValorOpcion(opcion, ft, 'range')  + ' de '+ opcion.valorMax }}</label>
                            </div>
                          </div>
                        <!-- </form>-->
                      </div>
                    </div>


                  </div>

                </form>

              </div>
            </div>
          </div>

          <div class="card-footer text-muted">
            <div class="row">
              <div class="col text-center">
                <!-- <span class="material-icons">edit</span>
                <span class="material-icons">delete_outline</span> -->
              </div>
              <!-- <div class="col-1 text-right ">
                  <button  type="button" name="siguiente" class="btn btn-primary" title="Siguiente"
                    (click)="this.siguientePregunta(this.preguntaDesigning)" >
                    <strong>>></strong>
                  </button>
              </div> -->
            </div>
          </div>

        </div>
      </div>
      <!-- ************************************************************************* -->
    </div>

    <div class="col-2 p-2 bg-dark">

      <div class="container">
        <div  class="sticky-bottom">
          <button  type="button" name="siguiente"
            class="btn btn-secondary" title="Siguiente"
            (click)="this.responderPregunta(this.preguntaResponder, ft)" >
            <strong>>></strong>
          </button>
        </div>
      </div>

    </div>
  </div>

</div>

