* {
    color: white;
    font-size: 18px;
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
textarea {
    color: black;
    margin: auto;
    width: 100%;
    border-radius: 2%;
  
}
form {
    text-align: center;
}