<div class="container" style="width: 50%;height:auto; position: relative; top: 60px;">
    <div class="row py-3">
      <div class="col-lg-1 col-sm-1 col-md-1">
        <img  src="../../../assets/llamar.svg" style="width: 20px;height: 20px;" alt="">
      </div>
      <div class="col-lg-9 col-sm-9 col-md-9 ">
        +02900900
      </div>
    </div>

    <div class="row py-3">
        <div class="col-lg-1">
            <img src="../../../assets/email.svg" style="width: 20px;height: 20px;" alt="">
        </div>
        <div class="col-lg-9">contacto@voxmetric.com</div>
    </div>

    <div class="row py-3">
        <div class="col-sm-12">
            <form action="">
                <label for="">Contacta con nosotros</label>
                <textarea name="" id="" cols="100" rows="10"></textarea>
                <input type="submit" class="btn btn-outline-light">
            </form>
            
        </div>
    </div>
  </div>
