


            <div class="card text-white bg-secondary mb-3 " style="width: 60%;margin: auto;">
                <div class="card-header"></div>
                <div class="card-body">
                  <h5 class="card-title">Lista de Encuestas del usuario {{usuario.nombre}}</h5>

                  <div *ngIf="encuestas?.length==0" class="alert alert-info"><!--Con esto validamos que haya encuestas en el listado-->
            No hay encuestas registradas para este usuario
                  </div>
                  <table style="background-color: rgb(131, 53, 53);" class="table table-bordered table-striped text-white" *ngIf="encuestas?.length>0">
                      <thead>
                          <tr>

                              <th>Titulo</th>
                              <th>fecha</th>
                              <th>código</th>
                              <th>Descripción</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let encuesta of encuestas">

                              <td>{{encuesta.tituloEncuesta}}</td>
                              <td>{{encuesta.fechaCreacion}}</td>
                              <td>{{encuesta.codigoIdentifica}}</td>
                              <td>{{encuesta.textoExplicacion}}</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
                <div  >
                  <button type="button" class="btn btn-danger"  (click)='goToUsuarios()'>Close</button>
                </div>
              </div>






