
<div class="container" style="position: relative;top: 90px;">
  <div class="row align-items-center">
      <div class="firma text-center col-sm-6" style="margin: auto; padding: 20px;">
          <img src="../../../assets/imageLogo.png" alt="">
          <img src="../../../assets/textLogo.png" alt="">
      </div>
      <div class="firma col-sm-6 text-center ">
          <p>Crea y diseña tu encuesta perfecta</p>
          <p>Obtén feedback de tus clientes</p>
          <p>Recopila datos en cualquier lugar</p>
      </div>
  </div>
  <div class="row align-items-center">
    <div class="col text-center ">
      <!-- (ngSubmit)="this.responder(f)"  {{ f.value | json }}-->
      <form #f="ngForm" class="form-inline" (ngSubmit)="this.responder(f)" >
        <label for="responder">Responder encuesta &nbsp;</label>
        <input class="form-control mr-sm-2" type="text" minlength="5" maxlength="5" required
                id="responder" name="codigo" ngModel
                placeholder="Código encuesta" aria-label="Código encuesta">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Ir</button>
      </form>
    </div>
  </div>
</div>



