
<div class="container" style="position: relative;top: 10px;">
    <div class="row">
        <div class="firma text-center col-sm-6" style="margin: auto; padding: 20px;">
    
           
        
            <img src="../../../assets/textLogo.png" alt="">
        
        </div>
    </div>
<br>
    <div class="row" >
        <div class="col-sm-1 my-5 text-center" >
            <img class="" src="../../../assets/list.svg" style="width: 60px;height: 60px;" alt="">
        </div>
        
        <div class="col-sm-10 text-center" style="margin: auto; font-size: 20px;">
            
            <p>VoxMetric es una herramienta destinada a la creación de encuestas.</p>
            <p>Podrás configurarla según el tipo de información que quieras obtener. Una vez diseñada, envíala a distintas 
personas. Incluso, para más comodidad puedes crear tus propias listas de distribución para crear grupos segmentados en función
de la temática de la encuesta. <br> Por ejemplo una encuesta acerca de tendencias en videojuegos permitirá obtener una información más útil
si la lista de destinatarios está formada por aficionados "gamers" </p>
        </div>
            

    </div>

    <div class="row mt-5 ">
        <div class="col-sm-1 mt-5 text-center" >
            <img class="" src="../../../assets/data.svg" style="width: 60px;height: 60px; position: relative;bottom: 45px;" >
        </div>
        <div class="col-sm-10 text-center mb-5" style="margin: auto; font-size: 20px;">
            
<p>Te permitirá obtener feedback de los participantes de tus encuestas obteniendo información muy valiosa la cual podrás 
    analizar de forma rigurosa. Recopilar datos en cualquier lugar es una de las grandes ventajas de voxMetric.
</p>
        </div>

    </div>

    <div class="row mt-1 ">
        <div class="col-sm-1 mt-5 text-center" >
            <img class="" src="../../../assets/centro-de-llamadas (1).svg" style="width: 60px;height: 60px; position: relative;bottom: 45px;" >
        </div>
        <div class="col-sm-10 text-center mb-5" style="margin: auto; font-size: 20px;">
            
<p>Una vez registrado y logueado accede a "Mis encuestas" , desde donde podrás gestionarlas y comenzar a trabajar.</p>
        </div>

    </div>
      
    
    </div>
