<div class="card text-white bg-secondary mb-3 " style="width: 85%;margin: auto;">
    <div class="card-header">Usuarios</div>
    <div class="card-body">
      <h5 class="card-title">Listado de usuarios</h5>
      <div class="my-2 text-left">
          <button class="btn btn-dark btn-rounded btn-floating" type="button" routerLink='/usuarios/form'>Crear usuario</button>
      </div>
      <div *ngIf="usuarios?.length==0" class="alert alert-info"><!--Con esto validamos que haya clientes en el listado-->
No hay usuarios registrados
      </div>
      <table class="table table-bordered table-striped text-white" *ngIf="usuarios?.length>0">
          <thead>
              <tr>
                  <th>id</th>
                  <th>nombre</th>
                  <th>apellidos</th>
                  <th>email</th>
                  <th>userName</th>
                  <th>createAt</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                  <th>Encuestas</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let usuario of usuarios">
                  <td>{{usuario.id}}</td>
                  <td>{{usuario.nombre}}</td>
                  <td>{{usuario.apellidos}}</td>
                  <td>{{usuario.email}}</td>
                  <td>{{usuario.userName}}</td>
                  <td>{{usuario.createAt}}</td>
                  <td><button  type="button" name="editar" class="btn btn-dark" [routerLink]="['/usuarios/form/',usuario.id]">Editar</button></td>
                  <td><button  type="button" name="eliminar" class="btn btn-dark" (click)="delete(usuario)" >Eliminar</button></td>
                  <td><button  type="button" name="editar" class="btn btn-dark" [routerLink]="['/usuarios/encuestas/',usuario.id]" data-toggle="modal" data-target="#myModal">Ver</button></td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
