<div class="container-fluid">
  <!-- Barra superior  style="background-color: blanchedalmond;"-->
  <div class="row">
    <div class="col-2 p-2 bg-light">
      <!-- <label>{{'Encuesta: '}}</label> -->
      <!-- <button  type="button"  title="Agregar nueva pregunta" name="adicionaPregunta" class="btn btn-primary btn-sm"
        (click)="this.confirmarSiAgregarPregunta(this.encuestaDesigned.id, this.tipoPreguntaUsing.id)" >
        + Nueva
      </button> -->
    </div>
    <div class="col p-2 bg-light">
      <a href="#" *ngIf="true" [routerLink]="['/encuestas']" title="Mis encuestas" >
        <label class="text-dark" style="cursor: pointer;">
          <h3><strong><u>{{ this.encuestaDesigned.tituloEncuesta}}</u></strong></h3>
        </label>
      </a>
    </div>
    <div class="col-1 p-2 bg-light text-right ">
      <!-- <button  type="button" name="siguiente" class="btn btn-primary btn-sm" title="Siguiente"
        (click)="this.siguientePregunta(this.preguntaDesigning)" >
        <strong>>></strong>
      </button> -->
    </div>
  </div>
  <!-- Zona centro con 3 columnas  style="background-color: blanchedalmond;"-->
  <div class="row">

    <!-- Columna Izquierda.  style="min-height: 510px; height:100%;"-->
    <div class="col-2 bg-secondary">
      <div class="h-100" style="min-height: 450px;">
        <label class="text-light">Preguntas</label>
        <div class="col text-right ">
          <button  type="button"  title="Agregar nueva pregunta" name="adicionaPregunta" class="btn btn-primary btn-sm"
            (click)="this.confirmarSiAgregarPregunta(this.encuestaDesigned.id, this.tipoPreguntaUsing.id)" >
            + Nueva
          </button>
        </div>
        <div class="container text-dark" *ngFor="let pregunta of this.listaPreguntas; let i = index">
          <div class="card m-2" [ngClass]="{'bg-warning': pregunta.enEdicion, 'bg-light': !pregunta.enEdicion}">
            <div class="card-body text-left"  style="cursor: pointer;" (click)='this.selectPregunta(pregunta, i)'>
              <p class="card-text"><!-- pregunta.orden + '-' +  -->
                {{pregunta.pregunta.substring(0, 12) + '...'}}
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Columna centro. Pregunta en edición -->
    <div class="col p-2 bg-light" >
      <div class="container">
        <div class="card bg-light m-2">

          <div class="card-header text-center text-dark">
            <div class="row">
              <div class="col">
                <h4>{{this.preguntaDesigning.pregunta}}</h4>
              </div>
              <div class="col-2 text-right">
                <span class="material-icons btn" title="Editar"
                  (click)="this.editPregunta(this.preguntaDesigning)">edit</span>
                <span class="material-icons btn" title="Eliminar"
                  (click)="this.confirmarSiEliminarPregunta(this.preguntaDesigning)">delete_outline</span>
              </div>
            </div>
          </div>

          <div class="card-body  text-dark">
            <!-- <p class="card-text">{{'['+ this.tipoPreguntaUsing.htmlTag + '] ' + this.tipoPreguntaUsing.tipoPregunta}}</p> -->
            <div class="container">
              <div class="col m-2">
                <div class="card-text text-left" *ngFor="let opcion of this.listaOpcionesPreguntaDesigning; let i = index">
                  <!-- radio -->
                  <div class="form-check" *ngIf="this.tipoPreguntaUsing.htmlTag === 'radio'">
                    <div class="row">
                      <div class="col">
                        <input class="form-check-input" style="cursor: pointer;" type="radio" name="exampleRadios"
                          id="{{'opcion'+ opcion.id}}" value="{{opcion.valorMax}}">
                        <label class="form-check-label" for="{{'opcion'+ opcion.id}}">
                          {{ opcion.textoOpcion}}
                        </label>
                      </div>
                      <div class="col-3 text-right">
                        <span class="material-icons btn" title="Editar" (click)="this.editOpcion(opcion)">edit</span>
                        <span class="material-icons btn" title="Eliminar" (click)="this.eliminarOpcionPregunta(opcion.id)">delete_outline</span>
                        <span class="material-icons btn" title="Agregar" (click)="this.agregarOpcionPreguntaExistente(preguntaDesigning)">add</span>
                      </div>
                    </div>
                  </div>
                  <!-- checkbox -->
                  <div class="form-check" *ngIf="this.tipoPreguntaUsing.htmlTag === 'checkbox'">
                    <div class="row">
                      <div class="col">
                        <input class="form-check-input" style="cursor: pointer;" type="checkbox" name="exampleRadios"
                          id="{{'opcion'+ opcion.id}}" value="{{opcion.valorMax}}">
                        <label class="form-check-label" for="{{'opcion'+ opcion.id}}">
                          {{ opcion.textoOpcion}}
                        </label>
                      </div>
                      <div class="col-3 text-right">
                        <span class="material-icons btn" title="Editar" (click)="this.editOpcion(opcion)">edit</span>
                        <span class="material-icons btn" title="Eliminar" (click)="this.eliminarOpcionPregunta(opcion.id)">delete_outline</span>
                        <span class="material-icons btn" title="Agregar" (click)="this.agregarOpcionPreguntaExistente(preguntaDesigning)">add</span>
                      </div>
                    </div>
                  </div>
                  <!-- range -->
                  <div class="form-check" *ngIf="this.tipoPreguntaUsing.htmlTag === 'range'">
                    <form #f="ngForm" novalidate><!-- (ngSubmit)="onSubmit(f)"  {{ f.value | json }}-->
                      <label for="{{'opcion'+ opcion.id}}">{{ opcion.textoOpcion}}</label>
                      <div class="row">
                        <div class="col">
                          <input type="range" class="custom-range"
                                  name="{{'op_'+ opcion.id}}" ngModel
                                  min="{{opcion.valorMin}}" max="{{opcion.valorMax}}"
                                  step="{{opcion.step}}" id="{{'op_'+ opcion.id}}" ngModel="{{opcion.valorMin}}">
                        </div>
                        <div class="col-2 text-right">
                          <label>{{ this.getValorOpcion(opcion, f)  + ' de '+ opcion.valorMax }}</label>
                        </div>
                        <div class="col-3 text-right">
                          <span class="material-icons btn" title="Editar" (click)="this.editOpcion(opcion)">edit</span>
                          <span class="material-icons btn" title="Eliminar" (click)="this.eliminarOpcionPregunta(opcion.id)">delete_outline</span>
                          <span class="material-icons btn" title="Agregar" (click)="this.agregarOpcionPreguntaExistente(preguntaDesigning)">add</span>
                        </div>
                      </div>
                    </form>
                  </div>


                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-muted">
            <div class="row">
              <div class="col text-center">
                <!-- <span class="material-icons">edit</span>
                <span class="material-icons">delete_outline</span> -->
              </div>
              <!-- <div class="col-1 text-right ">
                  <button  type="button" name="siguiente" class="btn btn-primary" title="Siguiente"
                    (click)="this.siguientePregunta(this.preguntaDesigning)" >
                    <strong>>></strong>
                  </button>
              </div> -->
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Columna derecha. Lista de Tipos de Preguntas -->
    <div class="col-2 p-2 bg-light">
      <div class="col m-2 text-dark">
        <button  type="button" name="siguiente" class="btn btn-primary btn-sm" title="Siguiente"
          (click)="this.siguientePregunta(this.preguntaDesigning)">
          <strong>>></strong>
        </button>
      </div>

      <label class="text-light">Tipos de Preguntas</label>


      <!-- <div class="container" *ngFor="let tipo of this.listaTiposPregunta; let i = index">
        <div class="card mb-2  text-dark" style="width:100px"
              [ngClass]="{'bg-secondary': tipo.enEdicion, 'bg-light': !tipo.enEdicion}">
          <img src="../assets/check.png" class="card-img-top" alt="..."  *ngIf="tipo.htmlTag === 'checkbox'"
                width="50" height="60">
          <img src="../assets/radio.png" class="card-img-top" alt="..."  *ngIf="tipo.htmlTag === 'radio'"
                width="50" height="60">
          <img src="../assets/rango.png" class="card-img-top" alt="..."  *ngIf="tipo.htmlTag === 'range'"
                width="50" height="60">
          <div class="card-body text-left"  style="cursor: pointer;" (click)='this.selectTipoPregunta(tipo, i)'>
            <p class="card-text">
              {{tipo.tipoPregunta}}
            </p>
          </div>
        </div>
      </div> -->

    </div>

  </div>

</div>

