
*{
    font-style:italic;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    
    
}
.cuerpo{
    padding-bottom:60px; /* Le ponemos el mismo tamaño que el footer*/
    min-height: 580px;
   
   
    /*margin-top: 50px;*/

}

.center {
    text-align: center;
}
.footer {
    position: relative;
    top: 50px;
}
.cuerpo {
    /*margin-bottom: 60px; /* Le ponemos el mismo tamaño que el footer*/
    background:url(/assets/chicaenc.jpg) center center no-repeat;
    background-size: cover;

    padding-top: 75px;
   
    
}

.cuerpo:before {
    content:"";
    width: 100%;
    height:90%;
    background-color:rgba(65, 65, 72, 0.899);
    position: absolute;
    
  

}



