
    <div class="card mt-5" style="width: 50%;margin: auto; border-color: rgb(13, 14, 13);border-width: 3px;" >
        <div class="card-header" style="color: honeydew;background-color: rgb(79, 78, 78);">
          Titulo de la Encuesta : {{encuesta.tituloEncuesta}}
        </div>
        <div class="body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Descripción : {{encuesta.textoExplicacion}}</li>
                <li class="list-group-item">Código : {{encuesta.codigo}}</li>
                <li class="list-group-item">Fecha de Creación : {{encuesta.fechaCreacion}}</li>
                <li class="list-group-item">Fecha de Inicio : {{encuesta.fechaInicio}}</li>
                <li class="list-group-item">Fecha de Finalización : {{encuesta.fechaFin}}</li>
            </ul>

        </div>
       
      </div>
   