

  <div class="container text-center" style="position: relative;top: 50px;" >
    <div class="card border-light" style="width: 60%;margin: auto; background-color: rgb(149, 152, 162);">
        <div class="card-header">
          LOGIN
        </div>
        <div class="card-body">
            <form>
                <div class="form-group col-sm-6 center" style="margin: auto;">
                  <input [(ngModel)]="usuario.userName" type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Username" autofocus required>
                </div>
                <div class="form-group col-sm-6 center" style="margin: auto;">
                  <input [(ngModel)]="usuario.password" type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                </div>
                <button (click)='login()' type="submit" class="btn btn-outline-dark" >Login</button>
                <div class="form-group col-sm-6 center mt-4" style="margin: auto;">
                  <p>Si no estas dado de alta, <a  href="#" routerLink='/form' role="button">regístrate</a></p>
                </div>
                <div class="form-group col-sm-6 center" style="margin: auto;">
                  <p><a href="">¿Olvidaste la contraseña?</a></p>
                </div>
              </form>
        </div>
      </div>
  </div>
