<div class="card bg-secondary text-white" style="width: 50%; margin: auto;">
    <div class="card-header">Edición de encuestas</div>
    <div class="card-body">

        <form #form="ngForm">
          <div class="row">
            <!-- Columna izquierda class="col-sm-6"-->
            <div class="col">
              <div class="form-group-row">
                  <label for="tituloEncuesta" class="col-form-label">Titulo</label>
                  <div class="col">
                      <input type="text" class="form-control" [(ngModel)]="encuesta.tituloEncuesta" name="tituloEncuesta" required minlength="4" #tituloEncuesta="ngModel">
                      <div class="alert alert-danger" *ngIf="tituloEncuesta.invalid && (tituloEncuesta.dirty||tituloEncuesta.touched)">
                          <div  *ngIf="tituloEncuesta.errors.required">El titulo es requerido</div>
                          <div  *ngIf="tituloEncuesta.errors.minlength">Debe contener al menos 4 caracteres</div>
                      </div>
                  </div>
              </div>
              <div class="form-group-row">
                  <label for="descripcion" class="col-form-label">Descripción</label>
                  <div class="col">
                      <textarea type="text" class="form-control" [(ngModel)]="encuesta.textoExplicacion" name="descripcion" required minlength="4" #descripcion="ngModel" rows="4"></textarea>
                      <div class="alert alert-danger" *ngIf="descripcion.invalid && (descripcion.dirty||descripcion.touched)">
                          <div  *ngIf="descripcion.errors.required">La descripción es requerida</div>
                          <div  *ngIf="descripcion.errors.minlength">Debe contener al menos 4 caracteres</div>

                      </div>
                  </div>
              </div>
              <div class="form-group-row">
                  <label for="codigo" class="col-form-label">Código</label>
                  <div class="col">
                      <input type="text" class="form-control" [(ngModel)]="encuesta.codigo" name="codigo" required minlength="5" maxlength="5" #codigo=ngModel>
                      <div class="alert alert-danger" *ngIf="codigo.invalid && (codigo.dirty||codigo.touched)">
                          <div  *ngIf="codigo.errors.required">El codigo es requerido</div>
                          <div  *ngIf="codigo.errors.maxlength">El código debe tener 5 caracteres</div>
                          <div  *ngIf="codigo.errors.minlength">El código debe tener 5 caracteres</div>

                      </div>
                  </div>
              </div>
            </div>
            <!-- Columna derecha -->
            <div class="col">
              <div class="form-group-row">
                  <label for="fechaInicio" class="col-form-label">Fecha de inicio</label>
                  <div class="col">
                      <input type="date" class="form-control" [(ngModel)]="encuesta.fechaInicio"
                      name="fechaInicio" required date placeholder="2018-01-01"
                      #fechaInicio=ngModel>
                      <div class="alert alert-danger" *ngIf="fechaInicio.invalid && (fechaInicio.dirty||fechaInicio.touched)">
                          <div  *ngIf="fechaInicio.errors.required">La fecha de inicio es requerida</div>
                          <div  *ngIf="fechaInicio.errors.date">Debe tener formato de fecha</div>

                      </div>
                  </div>
              </div>

              <div class="form-group-row"><!--class="col-form-label col-sm-2"  -->
                  <label for="fechaFin" class="col-form-label">Fecha de finalización</label>
                  <div class="col">
                      <input type="date" class="form-control" [(ngModel)]="encuesta.fechaFin"
                      name="fechaFin" required date placeholder="2018-01-01"
                      value="this.hoyPlus10"
                      #fechaFin=ngModel>
                      <div class="alert alert-danger" *ngIf="fechaFin.invalid && (fechaFin.dirty||fechaFin.touched)">
                          <div  *ngIf="fechaFin.errors.required">La fecha de finalización es requerida</div>
                          <div  *ngIf="fechaFin.errors.date">Debe tener formato de fecha</div>

                      </div>
                  </div>
              </div>

              <!-- Estados encuesta -->
              <div class="form-group-row" *ngIf="encuesta.id !== undefined">
                <label for="inputSelectEstado" class="col-form-label">Estados de la encuesta</label>
                  <div class="col">
                    <div class="input-group mb-3" >
                      <!-- <input type="radio" class="form-control"*ngFor="let estado of this.listaEstados; let i = index"
                        name="inputSelectEstado" [(ngModel)]="encuesta.estadoEncuestaId"
                        #estado=ngModel>{{estado.estadoEncuesta}} -->
                      <select class="form-control" id="inputSelectEstado"
                        value="{{encuesta.estadoEncuestaId}}"
                        name="inputSelectEstado" [(ngModel)]="encuesta.estadoEncuestaId" #estado=ngModel >
                        <option value="{{estado.id}}" *ngFor="let estado of this.listaEstados; let i = index">
                          {{estado.estadoEncuesta}}
                        </option>
                      </select>
                    </div>
                  </div>
              </div>

            </div>
          </div>


            <div class="form-group-row">
              <div class="row">
                <div class="col-2 py-4">
                    <button class="btn btn-floating btn-dark btn-rounded text-white" role="button" (click)='create(form)' *ngIf="!encuesta.id else elseBlock" [disabled]="!form.form.valid">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-floating btn-dark btn-rounded text-white" role="button" (click)='update(form)' [disabled]="!form.form.valid">Actualizar</button>
                    </ng-template>
                </div>
                <div class="col-2 py-4">
                  <button class="btn btn-floating btn-dark btn-rounded text-white" role="button"
                  (click)="this.router.navigate(['/encuestas'])">Cancelar</button>
                </div>
              </div>
            </div>

        </form>




    </div>
</div>
