<div class="card bg-secondary text-white" style="width: 50%;margin: auto;position: relative; top: 30px;">
    <div class="card-header" *ngIf="!usuario.id">{{titulo}}</div>
    <div class="card-header" *ngIf="usuario.id">Edición datos del perfil</div>
    <div class="card-body">

        <form #form="ngForm">
            <div class="form-group-row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre" required minlength="4" #nombre="ngModel">

                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty||nombre.touched)">
                        <div  *ngIf="nombre.errors.required">El nombre es requerido</div>
                        <div  *ngIf="nombre.errors.minlength">Debe contener al menos 4 caracteres</div>

                    </div>


                </div>
            </div>
            <div class="form-group-row">
                <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="usuario.apellidos" name="apellidos" required minlength="4" #apellidos="ngModel">
                    <div class="alert alert-danger" *ngIf="apellidos.invalid && (apellidos.dirty||apellidos.touched)">
                        <div  *ngIf="apellidos.errors.required">Los apellidos son requeridos requerido</div>
                        <div  *ngIf="apellidos.errors.minlength">Debe contener al menos 4 caracteres</div>

                    </div>
                </div>
            </div>
            <div class="form-group-row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email" required email #email=ngModel>
                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty||email.touched)">
                        <div  *ngIf="email.errors.required">El email es requerido</div>
                        <div  *ngIf="email.errors.email">Debe tener un formato correcto</div>

                    </div>
                </div>
            </div>

            <div class="form-group-row">
                <label for="username" class="col-form-label col-sm-2">Nombre de Usuario</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="usuario.userName" name="username" required minlength="5" #username=ngModel>
                    <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty||username.touched)">
                        <div  *ngIf="username.errors.required">El nombre de usuario es requerido</div>
                        <div  *ngIf="username.errors.minlength">Debe contener al menos 5 caracteres</div>

                    </div>
                </div>
            </div>

            <div class="form-group-row">
                <label for="password" class="col-form-label col-sm-2">Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password" required minlength="4" #password=ngModel>
                    <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty||password.touched)">
                        <div  *ngIf="password.errors.required">El password es requerido</div>
                        <div  *ngIf="password.errors.minlength">Debe contener al menos 4 caracteres</div>

                    </div>
                </div>
            </div>


            <div class="form-group-row">

                <div class="col-sm-6 py-4">
                    <button class="btn btn-floating btn-dark btn-rounded text-white" role="button" (click)='create(form)' *ngIf="!usuario.id else elseBlock" [disabled]="!form.form.valid" routerLink='/login'>Registrar</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-floating btn-dark btn-rounded text-white" role="button" (click)='update()' [disabled]="!form.form.valid">Actualizar</button>
                    </ng-template>
                </div>
            </div>
        </form>




    </div>
</div>
