<div class="card text-white bg-secondary mb-3 " style="width: 85%;margin: auto;position: relative; top: 70px;">
    <div class="card-header">Encuestas</div>
    <div class="card-body">
      <h5 class="card-title">Listado de encuestas</h5>
      <div class="my-2 text-left">
          <button *ngIf="siSoyAdmin || siSoyUser" class="btn btn-dark btn-rounded btn-floating" type="button" routerLink='/encuestas/form'>Crear encuesta</button>
      </div>
      <div *ngIf="encuestas?.length==0" class="alert alert-info"><!--Con esto validamos que haya encuestas en el listado-->
          No hay encuestas registradas
      </div>
      <table class="table table-bordered table-striped text-white" *ngIf="encuestas?.length>0">
          <thead>
              <tr>
                  <th>id</th>
                  <th>Titulo Encuesta</th>
                  <th>Código</th>
                  <th>Estado</th>
                  <th>Creador</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Fin</th>
                  <th *ngIf="siSoyUser || siSoyAdmin">Preguntas</th>
                  <th *ngIf="siSoyUser || siSoyAdmin">Editar</th>
                  <th *ngIf="siSoyUser || siSoyAdmin">Eliminar</th>

              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let encuesta of encuestas">
                  <td>{{encuesta.id}}</td>
                  <td>
                    <label *ngIf="encuesta.estadoEncuestaId > 1" >{{encuesta.tituloEncuesta}}</label>
                    <a href="#" *ngIf="encuesta.estadoEncuestaId == 1" [routerLink]="['/encuesta/designer/',encuesta.id]" title="Diseñar" >
                      <label class="text-warning" style="cursor: pointer;"><u>{{encuesta.tituloEncuesta}}</u></label>
                    </a>
                  </td>
                  <td>{{encuesta.codigo}}</td>
                  <td>{{this.mostrarNombreEstado(encuesta.estadoEncuestaId)}}</td>
                  <td>{{this.mostrarNombreUsuario(encuesta.usuarioId)}}</td>
                  <td>{{encuesta.fechaInicio}}</td>
                  <td>{{encuesta.fechaFin}}</td>
                  <!-- <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button  type="button" name="editar" class="btn btn-dark" [routerLink]="['/encuesta/detalle/',encuesta.id]">Ver</button></td>
                  <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button  type="button" name="editar" class="btn btn-dark" [routerLink]="['/encuestas/form/',encuesta.id]">Editar</button></td>
                  <td *ngIf="authService.hasRole('ROLE_ADMIN')"><button  type="button" name="eliminar" class="btn btn-dark" (click)="delete(encuesta)" >Eliminar</button></td> -->
                 <!-- <td *ngIf="siSoyUser || siSoyAdmin">
                    <button  type="button" name="ver" class="btn btn-dark"
                    [routerLink]="['/encuesta/detalle/',encuesta.id]">Ver</button>
                  </td> -->
                  <td *ngIf="siSoyUser || siSoyAdmin">
                    <button  type="button" name="preguntas" class="btn btn-dark" *ngIf="encuesta.estadoEncuestaId == 1"
                    [routerLink]="['/encuesta/designer/',encuesta.id]">Diseño</button>
                  </td>
                  <td *ngIf="siSoyUser || siSoyAdmin">
                    <button  type="button" name="editar" class="btn btn-dark" [routerLink]="['/encuestas/form/',encuesta.id]">Editar</button>
                  </td>
                  <td *ngIf="siSoyUser || siSoyAdmin">
                    <button  type="button" name="eliminar" class="btn btn-dark" (click)="delete(encuesta)" >Eliminar</button>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
  </div>
